body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    opacity: 0.1;
    padding: 0px;
    margin: 0;
    padding: 0;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(rgba(0, 0, 0, 0.15) 1px, transparent 2px);
    background-size: 35px 35px;
    opacity: 0.65;
    pointer-events: none;
    z-index: -1; 
  }


h1 {
    color: #333;
    padding-bottom: 36px;
    font-size: 48px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

li strong {
    color: #333;
}

a {
    color: #285ae6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    padding-top: 12px;
}


